body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.logo-Studio {
  color: #f4f4fd;
}
.nav-item {
  color: #2e2f42;
  text-decoration: none;
}

.nav-li {
  list-style: none;
}
.nav-item:hover {
  color: #404bbf;
}

.address-item {
  color: #434455;
  text-decoration: none;
}

.address-item:hover {
  color: #404bbf;
}

.button {
  height: 56px;
  width: 169px;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.studio {
  height: 344px;
  width: 1440px;
}
.studio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: medium;
  color: #2e2f42;
}

.studio-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.Studio-li {
  width: 264px;
  height: 104px;
  list-style: none;
}
.studio-ul {
  display: flex;
}
.team {
  width: 1440px;
  height: 732px;
  background-color: #f4f4fd;
}
.team-baslik {
  font-style: bold;
  text-align: center;
}
.team-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: medium;
}
.team-ul{
  display: flex;
}
.team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: medium;
}

.team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-li {
  list-style: none;
}

.portfolio-baslik {
  text-align: center;
}

.portfolio-item {
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.portfolio-li {
  list-style: none;
}
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-in {
  width: 264px;
  height: 112px;
}

.first {
  width: 1440px;
  height: 600px;

  background-color: #2e2f42;
}

.first h1 {
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  color: #ffffff;
}
